.build
.direnv
.west
modules
firmware
zephyr
zmk
draw/base.yaml

### BROKK'S CONFIGURATION ###
.brokk/**
/.brokk/workspace.properties
/.brokk/sessions/
/.brokk/dependencies/
/.brokk/history.zip
!.brokk/style.md
!.brokk/review.md
!.brokk/project.properties
